@import "./normalize.scss";
@import "./base.scss";

.page__wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.page__content {
  width: 70%;
  background-color: #ffffff;
  padding: 40px 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_header {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  &_description-header {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 78px;
  }

  &_description {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  &_getJoke-btn {
    margin-top: 23px;
    width: 152px;
    height: 42px;
    background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #ffffff;
  }
}

.page__favorites {
  width: 30%;
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_header {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #ababab;
  }

  &_favoriteJokes-cover {
    margin-top: 20px;
  }
}

.joke-selector {
  margin-top: 2.15rem;
  display: flex;
  flex-direction: column;

  &__category-selection {
    width: 20px;
    height: 20px;
  }

  &__category-description {
    margin-left: 15px;
    font-size: 0.9rem;
    line-height: 1.3rem;
    vertical-align: bottom;
  }

  &__categories {
    margin: 20px 0;
  }

  &__categories.hidden {
    display: none;
  }

  &__search-input-field {
    margin-top: 15px;
    width: 680px;
    height: 42px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #ababab;
    padding: 10px 15px;
  }

  &__search-input-field.hidden {
    display: none;
  }
}
